.App {
  margin-top: 20px;
  margin-left: 50px;
}

.selection {
  width: 250px;
  padding: 8px;
  text-align: start;
  font-style: bold;
  font-size: 22px;
  border-bottom: 6px solid;
  border-radius: 6px;
  font-family: Arial;
  color: red;
}



.weather{
  font-family: Arial;
  font-size: 20px;
  font-style: bold;
  color: aqua;
  
}